<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/styles_index.css" />
    <link rel="stylesheet" href="/css/styles_productDetail.css" />
    <!-- <link rel="shortcut icon" type="image/png" href="img/favicon.png" /> -->
    <link rel="icon" href="/img/Logo.ico" type="image/ico" />

    <link
      href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400;500;700;900&display=swap"
      rel="stylesheet"
    />
    <title>Edición de productos</title>
  </head>
  <body>
    <div class="container">
      <%- include('../partials/header') %>

      <main class="main">
        <div class="container-destination">
          <!-- Descripcion producto -->
          <% for (let elemento of toursList){ %>

          <div class="paquete">
            <img
              src="<%=elemento.img_destination%>"
              class="paquete-imagen"
              alt=""
              width="320px"
            />
            <div class="paquete-descripcion-botones">
              <div class="destino-nombre">
                <%= elemento.name %>
                <p class="rating"><%=elemento.rating%></p>
              </div>
              <p class="descripcion-paquete"><%= elemento.description %></p>

              <div class="division-boton">
                <a
                  href="/admin/edit/<%= elemento.id %> "
                  class="btn"
                  id="btn--fill"
                  >Editar</a
                >
                <form
                  action="/admin/edit/<%=elemento.id%>?_method=DELETE"
                  method="POST"
                  onsubmit="return confirm('¿Eliminar <%=elemento.name%> ?');"
                >
                  <button class="btn">Eliminar</button>
                </form>
              </div>
            </div>
          </div>

          <%}%>
        </div>
      </main>
    </div>
    <%- include('../partials/footer') %>
  </body>
</html>
