<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/styles_index.css" />
    <link rel="stylesheet" href="/css/styles_productDetail.css" />
    <!-- <link rel="shortcut icon" type="image/png" href="img/favicon.png" /> -->
    <link rel="icon" href="/img/Logo.ico" type="image/ico" />

    <link
      href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap"
      rel="stylesheet"
    />
    <title>Detalle de producto</title>
  </head>
  <body>
    <div class="container">
      <%- include('../partials/header') %>

      <main class="main">
        <div class="container-destination">
          <!-- Descripcion producto -->

          <div class="paquete">
            <form action="/admin/edit/<%=tag%>?_method=PUT" method="POST">
              <img src="<%=img%>" class="paquete-imagen" alt="" width="320px" />
              <div class="paquete-descripcion-botones">
                <div class="destino-nombre">
                  <label for="nombrePaquete">Cambiar Nombre del Destino</label>
                  <input
                    type="text"
                    id="nombrePaquete"
                    value="<%= nombre %>"
                    name="nombre"
                  />
                  <br />
                  <label for="rating">Cambiar valoración</label>
                  <input
                    type="text"
                    value="<%=rating%>"
                    id="rating"
                    name="rating"
                  />
                </div>
                <label for="descripcion">Cambiar Descripción</label>
                <textarea
                  name="descripcion"
                  id="descripcion"
                  cols="30"
                  rows="10"
                >
               <%= descripcion %></textarea
                >

                <div class="division-boton">
                  <input type="submit" />
                  <input type="reset" />
                </div>
              </div>
            </form>
          </div>
        </div>
      </main>
      <%- include('../partials/footer') %>
    </div>
  </body>
</html>
