<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/styles_index.css" />

    <!-- <link rel="shortcut icon" type="image/png" href="img/favicon.png" /> -->
    <link rel="icon" href="/img/Logo.ico" type="image/ico" />

    <!-- <link rel="icon" href="imagenes/favicon.png" type="image/png" /> -->
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400;500;700;900&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap"
      rel="stylesheet"
    />
    <title>Focus Travel</title>
  </head>
  <body>
    <div class="container">
      <%- include('partials/header') %>

      <main class="main">
        <div class="container-destination">
          <div class="form-container">
            <form action="#" class="find">
              <span class="form-title"> Encuentra tu próxima</span>
              <div class="flip">
                <div class="contanim">
                  <div class="contword cont1">aventura</div>
                </div>
                <div><div class="contword cont2">anécdota</div></div>
                <div>
                  <div class="contword cont3">razón para ser feliz</div>
                </div>
              </div>
              <input
                type="text"
                class="find-place"
                placeholder="Elige tu destino"
              />
              <input type="date" class="find-date" />
              <a href="" class="btn find-btn" id="find-btn">Buscar</a>
            </form>
          </div>
          <% for (let elemento of resultados) { %>

          <section
            class="destination destination__<%=elemento.destination_promoted%>"
          >
            <article class="destination__promoted">
              <div class="destination__info-container">
                <p class="destination-<%=elemento.destination_promoted%>">
                  Destino <%= elemento.destination_promoted %>
                </p>
                <img
                  src="<%= elemento.img_destination%> "
                  alt=""
                  class="destination-picture"
                />
                <a href="/tour/<%=elemento.id%>">
                  <ul class="destination-description">
                    <li class="destination-name"><%= elemento.name %></li>
                    <li class="destination-price">
                      Desde: $<%= elemento.price%> p/persona
                    </li>
                    <li class="destination-date">
                      Reserva antes del <%= elemento.date %>
                    </li>
                  </ul></a
                >
              </div>
              <a
                href="/tour/<%=elemento.id%>"
                class="btn btn-reservar"
                id="btn--<%= elemento.tipo %>"
                >ver más...</a
              >
            </article>
          </section>
          <%} %>
        </div>
      </main>
      <%- include('partials/footer') %> <%- include('partials/mobilebar') %>
    </div>
  </body>
</html>
