<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Editar usuario</title>
		<link rel="stylesheet" href="/css/styles_index.css" />
		<link rel="stylesheet" href="/css/styles_register.css" />
		<!-- <link rel="shortcut icon" type="image/png" href="img/favicon.png" /> -->
		<link rel="icon" href="/img/Logo.ico" type="image/ico" />
		<link
			href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400;500;700;900&display=swap"
			rel="stylesheet"
		/>
		<script src="https://kit.fontawesome.com/165b3be4bf.js" crossorigin="anonymous"></script>
	</head>
	<body>
		<div class="container">
			<%- include('partials/header') %>

			<main class="main">
				<div class="container-destination">
					<section class="contenedor01">
						<h1 class="create-account">Editar cuenta</h1>
						<!-- <form action="/login" method="POST">  	action="/signup/newUser"-->
						<form action="/usuarioEdit/<%= user.id %>?_method=PUT" method="POST" enctype="multipart/form-data">
							<!-- Nombre -->
							<p>
								<label class="label-design" for="first_name">Cambiar Nombre </label>
								<input
									class="input"
									type="text"
									name="first_name"
									
									id="first_name"
									value="<%= user.first_name %> <%= locals.oldData ? oldData.first_name : null %>"
                                    
								/>
								<% if (locals.errors && errors.first_name) { %>
									<div class="text-danger">
										<%= errors.first_name.msg %>
									</div>
								<% } %>
							</p>
							<!-- Apellido -->
							<p>
								<label class="label-design" for="last_name">Cambiar Apellido </label>
								<input
									class="input"
									type="text"
									name="last_name"
                                   
									id="last_name"
									value="<%= user.last_name %> <%= locals.oldData ? oldData.last_name : null %>"
								/>
								<% if (locals.errors && errors.last_name) { %>
									<div class="text-danger">
										<%= errors.last_name.msg %>
									</div>
								<% } %>
							</p>
							<!-- Email -->
							<p>
								<label class="label-design" for="email"> Cambiar Email </label>
								<input
									class="input"
									type="text"
									name="email"
									
									id="email"
									value="<%= user.email %> <%= locals.oldData ? oldData.email : null %>"
								/>
								<% if (locals.errors && errors.email) { %>
									<div class="text-danger">
										<%= errors.email.msg %>
									</div>
								<% } %>
							</p>
							<!-- Contraseña -->
							<!-- <p>
								<label class="label-design" for="password">Cambiar  Contraseña </label>
								<input
									class="input"
									type="password"
									name="password"
									placeholder="Contraseña"
									id="password"
									value="<%#= locals.oldData ? oldData.password : null %>"
								/>
								<%# if (locals.errors && errors.password) { %>
									<div class="text-danger">
										<%#= errors.password.msg %>
									</div>
								<#% } %>
							</p> -->

							<!-- Imagen -->
							<p>
								<label class="label-design" for="image">Cambir Imagen</label>
								<input class="input" type="file" name="image" id="image" />
								<% if (locals.errors && errors.image) { %>
									<div class="text-danger">
										<%= errors.image.msg %>
									</div>
								<% } %>
							</p>
							
							<p>
								<button class="btn button" type="submit" id="btn--fill">Actualizar datos</button>
							</p>
						</form>
					</section>
				</div>
			</main>
			<!-- <#%- include('partials/footer') %> <%#- include('partials/mobilebar') %> -->
		</div>
	</body>
</html>
